<footer class="footer " data-background-color="black">


    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#creative">
                        Главная
                    </a>
                </li>
                <li>
                    <a href="#creative">
                       Блог
                    </a>
                </li>
                <li>
                    <a href="#creative">
                       Контакты
                    </a>
                </li>
                <li>
                    <a href="#creative">
                        Войти
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            © <script async="" src="//connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script>document.write(new Date().getFullYear())</script>, Дизайн <a href="#">Konor</a>. Разработка <a href="#">Мир прогресса</a>.
        </div>
    </div>


</footer>


